<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="beProject.css">
    <link rel="icon" href="https://www.pikpng.com/pngl/m/598-5985673_skincare-icon-png-png-download-skin-care-icon.png" type="image/x-icon">
    <title>BE PROJECT</title>
</head>
<body>
    <div id="logo">
        <a href="#">
            <img  src="https://www.pikpng.com/pngl/m/598-5985673_skincare-icon-png-png-download-skin-care-icon.png">
        </a>
    </div>
    <div id="name">
        <a href="#">
            <img  src="https://png.pngtree.com/element_our/20200611/ourmid/pngtree-show-name-image_2252960.jpg">
        </a>
    </div>
    <div id="nav">
        <ul>
            <li><a href="#contact">Contact</a></li>
            <li><a class="active" href="#about">About</a></li>
            <li><a href="#help">Help</a></li>
            <li><a href="#home">Home</a></li>
            
        </ul>
    </div>
    <div id="text">
        <h1>Smaple text here....  ???</h1>
    </div>
    <div id="gif" >
        <img src="https://c.tenor.com/KCqGLbOArGUAAAAM/tired-of-dark-circles-eyebags.gif" alt="">
    </div>
    <div class="center">
        <input type="checkbox" id="show">
        <label for="show" class="show-btn">Try Now !!!</label>
        <div class="container">
           <label for="show" class="close-btn fas fa-times" title="close">X</label>
           <div class="text">
              Login Form
           </div>
           <form action="app.html">
              <div class="data">
                 <label>User Name</label>
                 <input type="text" required>
              </div>
              <div class="data">
                 <label>Password</label>
                 <input type="password" required>
              </div>
              <div class="forgot-pass">
                 <a href="#">Forgot Password?</a>
              </div>
              <div class="btn">
                 <div class="inner"></div>
                 <button type="submit">login</button>
              </div>
              <div class="signup-link">
                 Not a member? <a href="#">Signup now</a>
              </div>
           </form>
        </div>
     </div>
     <div id="help">
         <h1>Help</h1>
         <p>
            If you're looking for random paragraphs,
             you've come to the right place. 
             When a random word or a random sentence isn't quite enough,
              the next logical step is to find a random paragraph. 
              We created the Random Paragraph Generator with you in mind.
             The process is quite simple. Choose the number of random paragraphs
              you'd like to see and click the button. Your chosen number of paragraphs
               will instantly appear.

            While it may not be obvious to everyone, 
            there are a number of reasons creating random paragraphs can be useful.
             A few examples of how some people use this generator are listed in the
              following paragraphs. 
         </p>

     </div>
     <div id="about">
        <h1>About us</h1>
        <p>
           If you're looking for random paragraphs,
            you've come to the right place. 
            When a random word or a random sentence isn't quite enough,
             the next logical step is to find a random paragraph. 
             We created the Random Paragraph Generator with you in mind.
            The process is quite simple. Choose the number of random paragraphs
             you'd like to see and click the button. Your chosen number of paragraphs
              will instantly appear.

           While it may not be obvious to everyone, 
           there are a number of reasons creating random paragraphs can be useful.
            A few examples of how some people use this generator are listed in the
             following paragraphs. 
        </p>

    </div>
    <div id="contact">
        <h1>Contact</h1>
        <p>
           If you're looking for random paragraphs,
            you've come to the right place. 
            When a random word or a random sentence isn't quite enough,
             the next logical step is to find a random paragraph. 
             We created the Random Paragraph Generator with you in mind.
            The process is quite simple. Choose the number of random paragraphs
             you'd like to see and click the button. Your chosen number of paragraphs
              will instantly appear.

           While it may not be obvious to everyone, 
           there are a number of reasons creating random paragraphs can be useful.
            A few examples of how some people use this generator are listed in the
             following paragraphs. 
        </p>

    </div>
</body>
</html>