<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'know_more_puffyeyes_style.css'%}">
    <link rel="icon" href="{% static 'logo.png'%}" type="image/x-icon">
    <title>Skinalyze</title>
</head>
<body>
    <div id="logo">
        <a href="#">
            <img  src="{% static 'logotext-png.png'%}">
        </a>
    </div>
    <marquee width="75%" direction="left" height="5%" scrollamount="5">
        DISCLAIMER: We are not Medical Professionals and the suggestions are purely home remedies that are being followed since ages.
    </marquee>
    <h2>If the problem still persists, Consult a Dermatologist.</h2>
    <div id="palce">
        <div class="gallery">
            <a target="_blank" href="https://i.guim.co.uk/img/media/eda873838f940582d1210dcf51900efad3fa8c9b/0_469_7360_4417/master/7360.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=4136d0378a9d158831c65d13dcc16389">
              <img src="https://i.guim.co.uk/img/media/eda873838f940582d1210dcf51900efad3fa8c9b/0_469_7360_4417/master/7360.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=4136d0378a9d158831c65d13dcc16389" alt="Cinque Terre" width="22%" height="22%">
            </a>
            <div class="desc"><b>Drink enough water</b>
                <p>
                    Eye puffiness can be the result of dehydration. Make sure you drink plenty of water every day to keep your skin healthy. The general rule of thumb is to drink eight 8-ounce glasses of water daily.

To stay on track, consider setting an hourly reminder on your phone. You can also use a refillable water bottle marked with specific times to help you drink enough water throughout the day.
                </p>
            </div>
          </div>
          
          <div class="gallery1">
            <a target="_blank" href="https://storage.ning.com/topology/rest/1.0/file/get/8697389870?profile=RESIZE_710x">
              <img src="https://storage.ning.com/topology/rest/1.0/file/get/8697389870?profile=RESIZE_710x" alt="Forest" width="22%" height="22%">
            </a>
            <div class="desc"><b>Pass on the salt</b>
              <p>
                Eating too much salt can cause additional fluid retention in your body. It can also lead to other health issues, such as a greater risk of heart problems and stroke.
                Prepackaged foods like instant soups are often high in sodium. Reading labels can help you identify excessive amounts of salt.

Instead, eat more whole foods like fresh vegetables and fruits.
              </p>
            </div>
          </div>
          
          <div class="gallery2">
            <a target="_blank" href="https://cdn.cdnparenting.com/articles/2019/05/07145752/748740634-H-1.webp">
              <img src="https://cdn.cdnparenting.com/articles/2019/05/07145752/748740634-H-1.webp" alt="Northern Lights" width="22%" height="22%">
            </a>
            <div class="desc"><b>Eat more potassium</b>
              <p>
                Potassium can help reduce excess fluids in your body, so you may want to ramp up your potassium intake. You can do this by adding bananas, beans, yogurt, and leafy greens to your diet.
If you’re already eating a potassium-rich diet, talk to your doctor about whether your potassium level is fine as-is or if you can safely add a potassium supplement to your daily routine.
              </p>
            </div>
          </div>
          
          <div class="gallery3">
            <a target="_blank" href="https://img.emedihealth.com/wp-content/uploads/2020/09/cold-compress-benifits.jpg">
              <img src="https://img.emedihealth.com/wp-content/uploads/2020/09/cold-compress-benifits.jpg" alt="Mountains" width="22%" height="22%">
            </a>
            <div class="desc">
              <b>Use a cool compress</b>
              <p>
                You can reduce eye puffiness by resting a cool washcloth on your eyelids for about 10 minutes. This can help drain excess fluid from under your eyes.

A compress of green or black tea bags may also do the trick. The tea contains antioxidants and caffeine that can reduce inflammation and constrict blood vessels.
              </p>
            </div>
          </div>
    </div>
    
</body>
</html>